#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-root {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.add-task-form {
  display: flex;
  gap: 0.5em;

  & > input {
    flex-grow: 1;
  }
}

.task-list {
  width: 500px;
  & > li {
    margin-bottom: 0.3em;
  }
}

.task-item {
  border: solid 1px var(--color-task-item-border);
  background-color: var(--color-task-item-bg);

  &:hover {
    background-color: var(--color-task-item-bg-hover);
  }

  border-radius: 0.3em;
  padding: 0.5em;

  display: flex;
  gap: 0.2em;
}

.task-item-title {
  flex-grow: 1;

  display: flex;

  & > input {
    flex-grow: 1;
  }
}
